p {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
}
h1{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 24px;
	font-weight: 900;
}
h2{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 18px;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
h4{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}
h5{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: 16px;
	font-weight: normal;
}
.usageparagraph{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
a .usageparagraph:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
}
a .usageparagraph:visited{
	color: 003300;
}
a .usageparagraph:hover{
	color: #DD6107;
}
a .usageparagraph:active{
	color: #0066CC;
}
a .acc{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CCCC00;
}
	
a .acc:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003300;}
	
a .acc:visited{
font-size: 16px;
	color: 003300;
}
a .acc:hover{
font-size: 16px;
	color: #DD6107;
}
a .acc:active{
font-size: 16px;
	color: #0066CC;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #003300;
	font-size: 12px;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
}
.sub_links p {
	text-align: right;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #647084;
	font-size: 12px;
}

.sub_links a {
	color: #647084;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.sub_links a:hover {
	color: #FF6600;
	text-decoration: none;
}
.linkheading {
	color: #B34700
}
.style2 {color: #999999}
